<div class="page">
  <div class="text padded text-center"><%= @query %></div>
  <div class="speaker padded"><%= "- You" %></div>
</div>
<div class="padded text-center page">
  <div class="text padded"><%= @coach %></div>
  <div class="speaker padded"><%= "- Your coach" %></div>
</div>
